sudo: true
language: bash
services: 
  - docker
dist: xenial
branches:
  only:
    - master
    - beta
env:
  - BUILD_ARCH=amd64 PUSH_OFF=true
  - BUILD_ARCH=arm64 BUILD_OFF=true TEST_OFF=true PUSH_OFF=true PUBLISH_OFF=true
  - BUILD_ARCH=arm BUILD_OFF=true TEST_OFF=true PUSH_OFF=true PUBLISH_OFF=true
addons:
  apt:
    update: true
    sources:
    - sourceline: deb [arch=amd64,armhf,arm64,ppc64el] http://pkg.bluehorizon.network/linux/ubuntu xenial-updates main
      key_url: 'http://pkg.bluehorizon.network/bluehorizon.network-public.key'
    packages:
    - make
    - curl
    - jq
    - ca-certificates
    - gnupg
    - bluehorizon
    - docker-ce
    - qemu
    - qemu-user-static
    - binfmt-support
    - dpkg-cross

before_install:
  # branch management
  - if [ ! -z "${TAG}" ]; then echo "${TAG}" > TAG; fi
  - if [ "${TRAVIS_PULL_REQUEST:-}" = 'false' ]; then export BRANCH="${TRAVIS_BRANCH}"; else export BRANCH="${TRAVIS_PULL_REQUEST_BRANCH}"; fi
  - echo ${BRANCH}

before_script:
  # check branch; no secrets for pulls
  - if [ "${TRAVIS_PULL_REQUEST}" = 'false' ]; then echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_LOGIN}" --password-stdin && echo "${HZN_ORG_ID}" > HZN_ORG_ID && echo "${DOCKER_NAMESPACE}" > DOCKER_NAMESPACE && echo "${HZN_EXCHANGE_APIKEY}" > APIKEY && echo "${PRIVATE_KEY}" | base64 --decode > "${HZN_ORG_ID}.key" && echo "${PUBLIC_KEY}" | base64 --decode > "${HZN_ORG_ID}.pem"; fi
  - if [ "${BUILD_ARCH}" != 'amd64' ]; then export DEBUG=true QEMU=true; fi
script:
  # enable QEMU emulation
  - if [ "${QEMU:-}" = 'true' ]; then export DEBUG=true && sudo docker run --rm --privileged multiarch/qemu-user-static:register --reset; fi
  - if [ "${BRANCH}" = 'beta' ]; then export TAG='beta'; fi
  - if [ "${BRANCH}" = 'master' ]; then export TAG=; fi
  # do the build and iff successful; do the test
  - if [ "${BUILD_OFF:-}" != 'true' ]; then make build-service; fi
  - if [ "${TEST_OFF:-}" != 'true' ]; then make test-service; fi
after_success:
  - if [ "${PUSH_OFF:-}" != 'true' ]; then make push-service; fi
  - if [ "${PUBLISH_OFF:-}" != 'true' ]; then make publish-service && make pattern-publish; fi

#
#after_failure:
#
#before_deploy:
#  - make nodes-clean
#  - make nodes-list
#
#deploy:
#  - make nodes
#
#after_deploy:
#  - make nodes-list
#  - make nodes-test
#
#
