## set notifications
notifications:
  email:
    recipients:
    - dcmartin@us.ibm.com
    on_success: change
    on_failure: always
## this is going to take sudo powers
sudo: true

## and it's done using bash
language: bash

## it needs docker
services: 
  - docker

## and use xenial; open horizon package is xenial for production; bionic only for LA
dist: xenial

## branches on which we act
branches:
  only:
    - master
    - beta

## stages
stages:
  - name: beta-pull-request
    if: branch = beta AND type = pull-request
  - name: beta-publish
    if: branch = beta AND type != pull-request
  - name: master-pull-request
    if: branch = master AND type = pull-request
  - name: master-publish
    if: branch = master AND type != pull-request

# each stage
stage: beta-pull-request
script:
  # merge in branch
  - if [ ${GIT_MERGE:-false} = true ]; then ./.travis/git-merge.sh; fi
  - ./.travis/travis-pull-request.sh beta
  - make build-service test-service
stage: beta-publish
script:
  - ./.travis/travis-publish.sh beta
  - make TAG=beta BUILD_ARCH=amd64 build-service publish-service
  - export QEMU=true #&& make BUILD_ARCH=arm64 test-service
  - export QEMU=true #&& make BUILD_ARCH=arm test-service
stage: beta-deploy
script:
  - ./.travis/travis-deploy.sh beta
  - make TAG=beta pattern-publish
stage: master-pull-request
script:
  - ./.travis/travis-pull-request.sh
  - make BUILD_ARCH=amd64 build-service test-service
  - export QEMU=true #&& make BUILD_ARCH=arm64 build-service
  - export QEMU=true #&& make BUILD_ARCH=arm build-service
stage: master-publish
script:
  - ./.travis/travis-publish.sh
  - make BUILD_ARCH=amd64 build-service publish-service
  - export QEMU=true #&& make BUILD_ARCH=arm64 test-service
  - export QEMU=true #&& make BUILD_ARCH=arm test-service
stage: master-deploy
script:
  - ./.travis/travis-deploy.sh
  - make pattern-publish

## addons required to act
addons:
  apt:
    update: true
    sources:
    - sourceline: deb [arch=amd64,armhf,arm64,ppc64el] http://pkg.bluehorizon.network/linux/ubuntu xenial-updates main
      key_url: "http://pkg.bluehorizon.network/bluehorizon.network-public.key"
    packages:
    - make
    - git-flow
    - curl
    - gettext
    - jq
    - ca-certificates
    - gnupg
    - bluehorizon
    - docker-ce
    - qemu
    - qemu-user
    - qemu-user-static
    - binfmt-support
    - dpkg-cross

## before installing or doing anything else, do these things:
before_install:
  - if [ ${TRAVIS_PULL_REQUEST} = false ]; then export BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}; else export BRANCH=${TRAVIS_BRANCH}; fi
  # create files from secrets (not for pulls)
  - .travis/travis-setenv.sh ${BRANCH}
  # enable experimental features in Docker
  - if [ ${EXP} = true ]; then ./.travis/docker-enable-experimental.sh; fi
  # enable QEMU emulation
  - if [ ${QEMU} = true ]; then ./.travis/docker-enable-qemu.sh; fi

## after installing, but BEFORE acting, do these things:
before_script:

## PERFORM THE ACT
script:
  # check all services
  - if [ ${CHECK_ON:-false} = true ]; then make; fi
  # do the build
  - if [ ${BUILD_ON:-false} = true ]; then make build-service; fi
  # do the test
  - if [ ${TEST_ON:-false} = true ]; then make test-service; fi

## after successful performance, accept accolades and do the following:
after_success:
  # push, publish: services and patterns
  - if [ ${PUSH_ON:-false} = true ]; then make push-service; fi
  - if [ ${PUBLISH_ON:-false} = true ]; then make publish-service; fi

## after failure; at least clean-up
after_failure:
  - if [ ${GIT_UNMERGE:-false} != true ]; then echo "+++ WARN -- $0 $$ -- FAILED: manually rollback changes"; else ./.travis/git-unmerge.sh; fi

## after the script (if anything)
after_script:

#before_deploy:
#  - if [ ${DEPLOY_ON:-false} = true ]; then make nodes-clean && make nodes-list; fi

deploy:
  provider: script
  script:
    - if [ ${PATTERN_ON:-false} = true ]; then make pattern-publish; fi
    - if [ ${DEPLOY_ON:-false} = true ]; then ./.travis/travis-deploy-nodes.sh; fi
  on:
    branch: master

  provider: script
  script:
    # update master on git
    - if [ ${GIT_PUSH:-false} = true ]; then ./.travis/git-push.sh; fi
  on:
    branch: beta

#after_deploy:
#  - if [ ${DEPLOY_ON:-false} = true ]; then make nodes && make nodes-list && make nodes-test; fi
